<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Take a test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div>
<b>Take a test</b>
</div>
{{#questions}}
     <form action="/test" method="post">
         <b>{{questionName}}</b>
         <div><label> <input type="radio" name="selectedOption" value="{{optionOne}}"> {{optionOne}}<br> </label></div>
         <div><label> <input type="radio" name="selectedOption" value="{{optionTwo}}"> {{optionTwo}}<br> </label></div>
         <div><label> <input type="radio" name="selectedOption" value="{{optionThree}}"> {{optionThree}}<br> </label></div>
         <div><label> <input type="radio" name="selectedOption" value="{{optionFour}}"> {{optionFour}}<br> </label></div>
         <input type="hidden" name="_csrf" value="{{ _csrf.token }}"/>
         <div><input type="submit" value="Answer"/></div>

     </form>
{{/questions}}

</body>
</html>